
* {
  /* colors */
  --crime-100: oklch(92.492% 0.03899 1.829);
  --crime-200: oklch(82.1% 0.1008 6.28);
  --crime-300: oklch(74.47% 0.1535 8.915);
  --crime-400: oklch(68.09% 0.2024 12.71);
  --crime-500: oklch(62.58% 0.2448 20.46);
  --crime-600: oklch(49.13% 0.1787 17.11);
  --crime-700: oklch(44% 0.1583 16.66);
  --crime-800: oklch(33.18% 0.1159 15.64);
  --crime-900: oklch(21.6% 0.0674 12.27);


  --honey-100: oklch(94.22% 0.0244 94.07);
  --honey-200: oklch(88.61% 0.0499 95.9);
  --honey-300: oklch(82.87% 0.0751 94.91);
  --honey-400: oklch(77.29% 0.0979 95.57);
  --honey-500: oklch(71.53% 0.1156 94.81);
  --honey-600: oklch(60.87% 0.0974 95.11);
  --honey-700: oklch(49.49% 0.0775 94.4);
  --honey-800: oklch(37.56% 0.0557 95.88);
  --honey-900: oklch(24.4% 0.0314 94.31);


  --grape-100: oklch(92.12% 0.0086 325.6);
  --grape-200: oklch(83.96% 0.02 328.3);
  --grape-300: oklch(75.74% 0.0295 327.7);
  --grape-400: oklch(67.21% 0.0423 328.7);
  --grape-500: oklch(58.58% 0.0532 328.5);
  --grape-600: oklch(49.95% 0.0455 329);
  --grape-700: oklch(41.03% 0.0343 328.1);
  --grape-800: oklch(31.49% 0.0255 328.9);
  --grape-900: oklch(21.27% 0.0124 326);

  --cherry-100: oklch(90.71% 0.0255 17.63);
  --cherry-200: oklch(81.41% 0.0535 18.31);
  --cherry-300: oklch(72.12% 0.0867 19.4);
  --cherry-400: oklch(63.25% 0.1196 21);
  --cherry-500: oklch(55.1% 0.1517 23.5);
  --cherry-600: oklch(46.99% 0.1271 23.34);
  --cherry-700: oklch(38.51% 0.1011 23.09);
  --cherry-800: oklch(29.57% 0.0704 22.34);
  --cherry-900: oklch(19.94% 0.039 21.18);

  --warm-100: oklch(95.13% 0.0303 109);
  --warm-200: oklch(90.35% 0.0603 108.6);
  --warm-300: oklch(85.73% 0.0918 110.2);
  --warm-400: oklch(81.04% 0.1178 110.4);
  --warm-500: oklch(76.34% 0.1385 111.1);
  --warm-600: oklch(64.85% 0.1164 111);
  --warm-700: oklch(52.74% 0.0934 111.5);
  --warm-800: oklch(39.73% 0.0662 110.2);
  --warm-900: oklch(25.7% 0.0383 111);

  --money-100: oklch(93.55% 0.037 147.7);
  --money-200: oklch(87.2% 0.0757 146.6);
  --money-300: oklch(81.24% 0.1153 146.5);
  --money-400: oklch(75.37% 0.1516 145.4);
  --money-500: oklch(69.92% 0.1816 144.6);
  --money-600: oklch(59.42% 0.1527 144.6);
  --money-700: oklch(48.45% 0.1214 144.9);
  --money-800: oklch(36.55% 0.0868 144.7);
  --money-900: oklch(23.9% 0.0489 145.6);

}

:root {
  --background: oklch(1.00 0 0);
  --foreground: oklch(0.31 0.03 328.91);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.31 0.03 328.91);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.14 0.00 285.86);
  --primary: oklch(0.68 0.20 12.72);
  --primary-foreground: oklch(0.94 0.03 3.72);
  --secondary: oklch(0.75 0.11 98.11);
  --secondary-foreground: oklch(0.97 0.01 94.14);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.50 0.05 329.00);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.72 0.12 94.80);
  --destructive: oklch(0.55 0.15 23.50);
  --border: oklch(0.87 0.02 332.40);
  --input: oklch(0.84 0.02 328.41);
  --ring: oklch(0.85 0.08 5.31);
  --chart-1: oklch(0.73 0.10 349.54);
  --chart-2: oklch(0.82 0.09 160.85);
  --chart-3: oklch(0.70 0.09 275.07);
  --chart-4: oklch(0.86 0.09 108.86);
  --chart-5: oklch(0.80 0.06 75.27);
  --sidebar: oklch(0.31 0.03 328.91);
  --sidebar-foreground: oklch(0.59 0.06 326.33);
  --sidebar-primary: oklch(0.55 0.05 328.63);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.95 0.01 334.35);
  --sidebar-border: oklch(0.87 0.02 332.40);
  --sidebar-ring: oklch(0.70 0.04 332.11);

  --font-sans: 'Geist', 'Geist Fallback', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: "Geist", "Geist Fallback", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --radius: 0.38rem;
  
  --shadow-2xs: 0px 2px 15px 2px oklch(0.41 0.04 329.77 / 0.05);
  --shadow-xs: 0px 2px 15px 2px oklch(0.41 0.04 329.77 / 0.05);
  --shadow-sm: 0px 2px 15px 2px oklch(0.41 0.04 329.77 / 0.10), 0px 1px 2px 1px oklch(0.41 0.04 329.77 / 0.10);
  --shadow: 0px 2px 15px 2px oklch(0.41 0.04 329.77 / 0.10), 0px 1px 2px 1px oklch(0.41 0.04 329.77 / 0.10);
  --shadow-md: 0px 2px 15px 2px oklch(0.41 0.04 329.77 / 0.10), 0px 2px 4px 1px oklch(0.41 0.04 329.77 / 0.10);
  --shadow-lg: 0px 2px 15px 2px oklch(0.41 0.04 329.77 / 0.10), 0px 4px 6px 1px oklch(0.41 0.04 329.77 / 0.10);
  --shadow-xl: 0px 2px 15px 2px oklch(0.41 0.04 329.77 / 0.10), 0px 8px 10px 1px oklch(0.41 0.04 329.77 / 0.10);
  --shadow-2xl: 0px 2px 15px 2px oklch(0.41 0.04 329.77 / 0.25);
  
}

.dark {
  --background: oklch(0.14 0.00 285.86);
  --foreground: oklch(0.99 0 0);
  --card: oklch(0.21 0.01 285.93);
  --card-foreground: oklch(0.99 0 0);
  --popover: oklch(0.21 0.01 285.93);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.92 0.00 286.61);
  --primary-foreground: oklch(0.21 0.01 285.93);
  --secondary: oklch(0.27 0.01 286.10);
  --secondary-foreground: oklch(0.99 0 0);
  --muted: oklch(0.27 0.01 286.10);
  --muted-foreground: oklch(0.71 0.01 286.09);
  --accent: oklch(0.27 0.01 286.10);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.70 0.19 22.23);
  --border: oklch(1.00 0 0 / 10%);
  --input: oklch(1.00 0 0 / 15%);
  --ring: oklch(0.55 0.02 285.93);
  --chart-1: oklch(0.49 0.24 264.40);
  --chart-2: oklch(0.70 0.16 160.43);
  --chart-3: oklch(0.77 0.17 65.36);
  --chart-4: oklch(0.62 0.26 305.32);
  --chart-5: oklch(0.64 0.25 16.51);
  --sidebar: oklch(0.21 0.01 285.93);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.49 0.24 264.40);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.27 0.01 286.10);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(1.00 0 0 / 10%);
  --sidebar-ring: oklch(0.55 0.02 285.93);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}