dick {
/* CSS HEX */
--raisin-black: #3a2e39ff;
--platinum: #e2dcdeff;
--dark-goldenrod: #b68f40ff;
--light-green: #8cff98ff;
--lapis-lazuli: #035e7bff;

/* CSS HSL */
--raisin-black-50: oklch(96.13% 0.00515 324.627);
--raisin-black-100: oklch(92% 0.01105 329.69);
--raisin-black-200: oklch(83.958% 0.02006 328.081);
--raisin-black-300: oklch(75.628% 0.03215 329.099);
--raisin-black-400: oklch(67.212% 0.04234 328.613);
--raisin-black-500: oklch(58.481% 0.05602 329.429);
--raisin-black-600: oklch(49.947% 0.0455 328.912);
--raisin-black-700: oklch(40.926% 0.03737 329.681);
--raisin-black-800: oklch(31.486% 0.02556 328.809);
--raisin-black-950: oklch(15.481% 0.00804 325.855);


--lapis-lazuli-50: oklch(96.764% 0.02067 219.925);
--lapis-lazuli-100: oklch(93.78% 0.0411 219.9);
--lapis-lazuli-200: oklch(88% 0.0793 220.8);
--lapis-lazuli-300: oklch(82.838% 0.11174 222.381);
--lapis-lazuli-400: oklch(78.3% 0.1357 225.6);
--lapis-lazuli-500: oklch(74.58% 0.149 230.7);
--lapis-lazuli-600: oklch(63.22% 0.1255 230.3);
--lapis-lazuli-700: oklch(51.32% 0.1009 229.6);
--lapis-lazuli-800: oklch(38.67% 0.0746 228.4);
--lapis-lazuli-900: oklch(24.87% 0.0458 225);
--lapis-lazuli-950: oklch(17.23% 0.03 219.8);

--dark-goldenrod-50: oklch(98.76% 0.0047 84.56);
--dark-goldenrod-100: oklch(92.53% 0.0281 84.59);
--dark-goldenrod-200: oklch(86.29% 0.0517 84.52);
--dark-goldenrod-300: oklch(80.04% 0.0748 84.25);
--dark-goldenrod-400: oklch(73.81% 0.0962 83.53);
--dark-goldenrod-500: oklch(66.84% 0.107 82.34);
--dark-goldenrod-600: oklch(56.43% 0.0889 82.48);
--dark-goldenrod-700: oklch(45.51% 0.0697 82.69);
--dark-goldenrod-800: oklch(33.89% 0.049 83.06);
--dark-goldenrod-900: oklch(21.15% 0.0254 83.8);
--dark-goldenrod-950: oklch(15.52% 0.0156 86.79);


--platinum-50: oklch(97.63% 0.0016 354.6);
--platinum-100: oklch(89.63% 0.007 354.8);
--platinum-200: oklch(81.45% 0.0128 355);
--platinum-300: oklch(73.08% 0.0189 355.3);
--platinum-400: oklch(64.48% 0.0256 355.7);
--platinum-500: oklch(55.79% 0.0291 356);
--platinum-600: oklch(47.14% 0.0239 356);
--platinum-700: oklch(38.07% 0.0184 355.9);
--platinum-800: oklch(28.43% 0.0124 355.8);
--platinum-900: oklch(17.86% 0.0057 355.5);
--platinum-950: oklch(13.07% 0.0031 354.5);


--light-green-50: oklch(98.5% 0.0242 148.3);
--light-green-100: oklch(94.05% 0.104 147.3);
--light-green-200: oklch(90.6% 0.1781 146);
--light-green-300: oklch(88.26% 0.2388 144.7);
--light-green-400: oklch(87.01% 0.2782 143.5);
--light-green-500: oklch(82.72% 0.2779 142.9);
--light-green-600: oklch(69.13% 0.2317 143);
--light-green-800: oklch(54.84% 0.1828 143.1);
--light-green-900: oklch(39.53% 0.1301 143.5);
--light-green-950: oklch(22.51% 0.0712 144.8);


}


pussy {
/* CSS HEX */
--raisin-black: #3A2E39ff;
--celadon: #94DEA2ff;
--ecru: #C9BA6Eff;
--platinum: #E2DCDEff;
--lapis-lazuli: #035E7Bff;

/* CSS HSL */
--raisin-black: #e9e2e8;
--celadon: hsla(131, 53%, 73%, 1);
--ecru: hsla(50, 46%, 61%, 1);
--platinum: hsla(340, 9%, 87%, 1);
--lapis-lazuli: hsla(195, 95%, 25%, 1);
}




/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #3A2E39ff, #94DEA2ff, #C9BA6Eff, #E2DCDEff, #035E7Bff);
$gradient-right: linear-gradient(90deg, #3A2E39ff, #94DEA2ff, #C9BA6Eff, #E2DCDEff, #035E7Bff);
$gradient-bottom: linear-gradient(180deg, #3A2E39ff, #94DEA2ff, #C9BA6Eff, #E2DCDEff, #035E7Bff);
$gradient-left: linear-gradient(270deg, #3A2E39ff, #94DEA2ff, #C9BA6Eff, #E2DCDEff, #035E7Bff);
$gradient-top-right: linear-gradient(45deg, #3A2E39ff, #94DEA2ff, #C9BA6Eff, #E2DCDEff, #035E7Bff);
$gradient-bottom-right: linear-gradient(135deg, #3A2E39ff, #94DEA2ff, #C9BA6Eff, #E2DCDEff, #035E7Bff);
$gradient-top-left: linear-gradient(225deg, #3A2E39ff, #94DEA2ff, #C9BA6Eff, #E2DCDEff, #035E7Bff);
$gradient-bottom-left: linear-gradient(315deg, #3A2E39ff, #94DEA2ff, #C9BA6Eff, #E2DCDEff, #035E7Bff);
$gradient-radial: radial-gradient(#3A2E39ff, #94DEA2ff, #C9BA6Eff, #E2DCDEff, #035E7Bff);





/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #3a2e39ff, #e2dcdeff, #b68f40ff, #8cff98ff, #035e7bff);
$gradient-right: linear-gradient(90deg, #3a2e39ff, #e2dcdeff, #b68f40ff, #8cff98ff, #035e7bff);
$gradient-bottom: linear-gradient(180deg, #3a2e39ff, #e2dcdeff, #b68f40ff, #8cff98ff, #035e7bff);
$gradient-left: linear-gradient(270deg, #3a2e39ff, #e2dcdeff, #b68f40ff, #8cff98ff, #035e7bff);
$gradient-top-right: linear-gradient(45deg, #3a2e39ff, #e2dcdeff, #b68f40ff, #8cff98ff, #035e7bff);
$gradient-bottom-right: linear-gradient(135deg, #3a2e39ff, #e2dcdeff, #b68f40ff, #8cff98ff, #035e7bff);
$gradient-top-left: linear-gradient(225deg, #3a2e39ff, #e2dcdeff, #b68f40ff, #8cff98ff, #035e7bff);
$gradient-bottom-left: linear-gradient(315deg, #3a2e39ff, #e2dcdeff, #b68f40ff, #8cff98ff, #035e7bff);
$gradient-radial: radial-gradient(#3a2e39ff, #e2dcdeff, #b68f40ff, #8cff98ff, #035e7bff);
*/