@import "tailwindcss";

@font-face {
    font-family: "PP Monument Normal";
    src: url("./fonts/PPMonumentNormal-Regular.otf") format("otf");
    font-weight: 500;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PP Monument Normal Black";
    src: url("./fonts/PPMonumentNormal-Black.otf") format("otf");
    font-weight: 900;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #171717;

    --poop-purple-700: #755775;
    --poop-purple-500: #553f55;

    --monument: "PP Monument Normal";
    --monument-black: "PP Monument Normal Black";
}

@theme inline {
    --font-monument: var(--monument);
    --font-monument-black: var(--monument-black);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-poop-purple-700: var(--poop-purple-700);
    --color-poop-purple-500: var(--poop-purple-500);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #fff;
    }
}

body {
    background: #fff;
    font-family: var(--font-monument);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
