@import "tailwindcss";

@font-face {
    font-family: "PP Monument Normal";
    src: url("./fonts/PPMonumentNormal-Regular.otf") format("otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "PP Monument Normal Black";
    src: url("./fonts/PPMonumentNormal-Black.otf") format("otf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "PP Monument Condensed";
    src: url("./fonts/PPMonumentCondensed-Regular.otf") format("otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "PP Monument Condensed Black";
    src: url("./fonts/PPMonumentCondensed-Black.otf") format("otf");
    font-weight: 900;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #231a23ff;
    --primary-50: #f7f5ffff;
    --primary-100: #e7e1ffff;
    --primary-200: #cfc2feff;
    --primary-300: #9f86feff;
    --primary-400: #8a6cfeff;
    --primary-500: #724efdff;
    --primary-600: #3402f3ff;
    --primary-700: #2902c0ff;
    --primary-800: #1f0193ff;
    --primary-900: #160165ff;
    --primary-950: #0d003dff;
    --secondary-50: #fbf9fbff;
    --secondary-100: #f7f5ffff;
    --secondary-200: #e7e1ffff;
    --secondary-300: #cfc2feff;
    --secondary-400: #9f86feff;
    --secondary-500: #8a6cfeff;
    --secondary-600: #724efdff;
    --secondary-700: #3402f3ff;
    --secondary-800: #2902c0ff;
    --secondary-900: #1f0193ff;
    --secondary-950: #160165ff;
    --poop-purple-50: #fbf9fbff;
    --poop-purple-100: #eee7eeff;
    --poop-purple-200: #e5dce5ff;
    --poop-purple-300: #cbb9cbff;
    --poop-purple-400: #b59bb5ff;
    --poop-purple-500: #a484a4ff;
    --poop-purple-600: #926d92ff;
    --poop-purple-700: #725572ff;
    --poop-purple-800: #4f3b4fff;
    --poop-purple-900: #2c212cff;
    --poop-purple-950: #231a23ff;
    --walter-blue-50: #47b9fbff;
    --walter-blue-100: #47b9fbff;
    --walter-blue-200: #47b9fbff;
    --walter-blue-300: #47b9fbff;
    --walter-blue-400: #47b9fbff;
    --walter-blue-500: #47b9fbff;
    --walter-blue-600: #47b9fbff;
    --walter-blue-700: #47b9fbff;
    --walter-blue-800: #47b9fbff;
    --walter-blue-900: #47b9fbff;
    --walter-blue-950: #47b9fbff;
    --gradient-primary: linear-gradient(
        185.68deg,
        #a68ffe -33.75%,
        #7e5dfe 113.85%
    );
    --monument: "PP Monument Normal";
    --monument-black: "PP Monument Normal Black";
    --monument-condensed: "PP Monument Condensed Cond";
    --monument-extended-black: "PP Monument Condensed Cond Black";
}

@theme inline {
    --font-monument: var(--monument);
    --font-monument-black: var(--monument-black);
    --font-monument-extended: var(--monument-extended);
    --font-monument-extended-black: var(--monument-extended-black);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-950: var(--primary-950);
    --color-poop-50: var(--poop-purple-50);
    --color-poop-100: var(--poop-purple-100);
    --color-poop-200: var(--poop-purple-200);
    --color-poop-300: var(--poop-purple-300);
    --color-poop-400: var(--poop-purple-400);
    --color-poop-500: var(--poop-purple-500);
    --color-poop-600: var(--poop-purple-600);
    --color-poop-700: var(--poop-purple-700);
    --color-poop-800: var(--poop-purple-800);
    --color-poop-900: var(--poop-purple-900);
    --color-poop-950: var(--poop-purple-950);
    --color-poop-purple-700: var(--poop-purple-700);
    --color-poop-purple-500: var(--poop-purple-500);
    --color-gradient-primary: var(--gradient-primary);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--foreground);
        --foreground: var(--background);
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    font-family: var(--font-monument);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hero-bg {
    position: absolute;
    top: 0;
    opacity: 0.88;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -9999;
    background-image: url("/cloud-hero.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
