@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400..800&display=swap");

@import "tailwindcss";

/* In your global CSS */
:root {
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-var-display: "opsz" 48, "wdth" 100;
  /* Headers */
  --font-var-body: "opsz" 16, "wdth" 100;
  /* Body text */
  --font-var-small: "opsz" 12, "wdth" 100;
  /* Small text */
  --primary-25: oklch(97.155% 0.01352 295.137);
  --primary-50: #eae5fe;
  --primary-100: #d6ccfe;
  --primary-150: #c2b3fe;
  --primary-200: #ad99fe;
  --primary-250: #9980fd;
  --primary-300: #8567fd;
  --primary-350: #714efd;
  --primary-400: #5e35fc;
  --primary-450: #4a1bfc;
  --primary-500: #3602fc;
  --primary-550: #3002e2;
  --primary-600: #2b01ca;
  --primary-650: #2501b1;
  --primary-700: #1f0197;
  --primary-750: #1a017e;
  --primary-800: #150164;
  --primary-850: #0f004b;
  --primary-900: #0a0032;
  --secondary-25: #f5fbfe;
  --secondary-50: #e6f5fe;
  --secondary-100: #cdebfd;
  --secondary-150: #b4e2fd;
  --secondary-200: #9bd9fc;
  --secondary-250: #82d0fc;
  --secondary-300: #6ac6fa;
  --secondary-350: #51bcfa;
  --secondary-400: #38b2f9;
  --secondary-450: #1fa9f9;
  --secondary-500: #069ef8;
  --secondary-550: #058edf;
  --secondary-600: #0580c6;
  --secondary-650: #0470ae;
  --secondary-700: #035f95;
  --secondary-750: #034f7c;
  --secondary-800: #023f63;
  --secondary-850: #012f4a;
  --secondary-900: #011f31;
  --neutral-25: #fbfbfb;
  --neutral-50: #f2f1f1;
  --neutral-100: #e6e4e6;
  --neutral-150: #d9d7d9;
  --neutral-200: #cdcacd;
  --neutral-250: #c1bdc1;
  --neutral-300: #b5afb5;
  --neutral-350: #a8a2a8;
  --neutral-400: #9b969b;
  --neutral-450: #8f888f;
  --neutral-500: #837b83;
  --neutral-550: #766f76;
  --neutral-600: #686368;
  --neutral-650: #5b565b;
  --neutral-700: #4e4a4e;
  --neutral-750: #413d41;
  --neutral-800: #343134;
  --neutral-850: #272527;
  --neutral-900: #1a181a;
  --error-25: #fef5f5;
  --error-50: #fde8e6;
  --error-100: #fcd1ce;
  --error-150: #fbbab5;
  --error-200: #faa39d;
  --error-250: #f98c84;
  --error-300: hsl(4, 91%, 70%);
  --error-350: hsl(4, 91%, 65%);
  --error-400: hsl(4, 92%, 60%);
  --error-450: hsl(4, 91%, 55%);
  --error-500: #f4190a;
  --error-550: #dc1709;
  --error-600: #c31408;
  --error-650: #ab1207;
  --error-700: #920f06;
  --error-750: #7a0c05;
  --error-800: #610a04;
  --error-850: #490703;
  --error-900: #300502;
  --success-25: #f7fef8;
  --success-50: #e6fdea;
  --success-100: #cefcd5;
  --success-150: #b5fbc1;
  --success-200: #9dfaac;
  --success-250: #84f998;
  --success-300: #6cf883;
  --success-350: #53f76f;
  --success-400: #3bf65a;
  --success-450: #22f545;
  --success-500: #0af431;
  --success-550: #09dc2c;
  --success-600: #08c327;
  --success-650: #07ab22;
  --success-700: #06921d;
  --success-750: #057a18;
  --success-800: #046113;
  --success-850: #03490e;
  --success-900: #023009;
  --warning-25: #fefbf7;
  --warning-50: #fdf3e6;
  --warning-100: #fce8ce;
  --warning-150: #fbddb5;
  --warning-200: #fad29d;
  --warning-250: #f9c784;
  --warning-300: #f8bb6c;
  --warning-350: #f7b053;
  --warning-400: #f6a53b;
  --warning-450: #f59a22;
  --warning-500: #f48f0a;
  --warning-550: #dc8009;
  --warning-600: #c37208;
  --warning-650: #ab6407;
  --warning-700: #925506;
  --warning-750: #7a4705;
  --warning-800: #613904;
  --warning-850: #492a03;
  --warning-900: #301c02;
  --base-25: #fcfbfc;
  --base-50: oklch(95.936% 0.00685 324.887);
  --base-100: oklch(91.834% 0.01378 325.335);
  --base-150: oklch(87.89% 0.01913 325.495);
  --base-200: #d3c4d3;
  --base-250: hsl(300, 15%, 75%);
  --base-300: #bda7bd;
  --base-350: hsl(300, 15%, 65%);
  --base-400: #a889a8;
  --base-450: hsl(300, 15%, 55%);
  --base-500: #926c92;
  --base-550: #846284;
  --base-600: #745774;
  --base-650: hsl(300, 15%, 35%);
  --base-700: #574157;
  --base-750: hsl(300, 15%, 25%);
  --base-800: #3a2b3a;
  --base-850: hsl(300, 15%, 15%);
  --base-900: #1d151d;

  --basic-white: oklch(1 0 0 / 1);
  --basic-black: oklch(0.3 0.01 304.96 / 1);

  --spacing-0: 0;
  --spacing-1: 4;
  --spacing-2: 8;
  --spacing-3: 12;
  --spacing-4: 16;
  --spacing-5: 20;
  --spacing-6: 24;
  --spacing-8: 32;
  --spacing-10: 40;
  --spacing-12: 48;
  --spacing-16: 64;
  --spacing-20: 80;
}

@theme {
  --color-primary-25: var(--primary-25);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-150: var(--primary-150);
  --color-primary-300: var(--primary-200);
  --color-primary-250: var(--primary-250);
  --color-primary-300: var(--primary-300);
  --color-primary-350: var(--primary-350);
  --color-primary-400: var(--primary-400);
  --color-primary-450: var(--primary-450);
  --color-primary-500: var(--primary-500);
  --color-primary-550: var(--primary-550);
  --color-primary-600: var(--primary-600);
  --color-primary-650: var(--primary-650);
  --color-primary-700: var(--primary-700);
  --color-primary-750: var(--primary-750);
  --color-primary-800: var(--primary-800);
  --color-primary-850: var(--primary-850);
  --color-primary-900: var(--primary-900);

  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-150: var(--base-150);
  --color-base-200: var(--base-200);
  --color-base-250: var(--base-250);
  --color-base-300: var(--base-300);
  --color-base-350: var(--base-350);
  --color-base-400: var(--base-400);
  --color-base-450: var(--base-450);
  --color-base-500: var(--base-500);
  --color-base-550: var(--base-550);
  --color-base-600: var(--base-600);
  --color-base-650: var(--base-650);
  --color-base-700: var(--base-700);
  --color-base-750: var(--base-750);
  --color-base-800: var(--base-800);
  --color-base-850: var(--base-850);
  --color-base-900: var(--base-900);

  --color-secondary-25: var(--secondary-25);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-50: var(--secondary-100);
  --color-secondary-100: var(--secondary-150);
  --color-secondary-150: var(--secondary-200);
  --color-secondary-200: var(--secondary-250);
  --color-secondary-250: var(--secondary-300);
  --color-secondary-300: var(--secondary-350);
  --color-secondary-350: var(--secondary-400);
  --color-secondary-400: var(--secondary-450);
  --color-secondary-450: var(--secondary-500);
  --color-secondary-500: var(--secondary-550);
  --color-secondary-550: var(--secondary-600);
  --color-secondary-650: var(--secondary-650);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-750: var(--secondary-750);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-850: var(--secondary-850);
  --color-secondary-900: var(--secondary-900);

  --color-error-25: var(--error-25);
  --color-error-50: var(--error-50);
  --color-error-100: var(--error-100);
  --color-error-150: var(--error-150);
  --color-error-200: var(--error-200);
  --color-error-250: var(--error-250);
  --color-error-300: var(--error-300);
  --color-error-350: var(--error-350);
  --color-error-400: var(--error-400);
  --color-error-450: var(--error-450);
  --color-error-500: var(--error-500);
  --color-error-550: var(--error-550);
  --color-error-600: var(--error-600);
  --color-error-650: var(--error-650);
  --color-error-700: var(--error-700);
  --color-error-750: var(--error-750);
  --color-error-800: var(--error-800);
  --color-error-850: var(--error-850);
  --color-error-900: var(--error-900);
}

body {
  margin: 0;
  padding: 0;
}

/* Typography scale */
h1,
h2,
h3 {
  font-family: var(--font-bricolage);
  font-variation-settings: var(--font-var-display);
}

p,
a,
li {
  font-family: var(--font-bricolage);
  font-variation-settings: var(--font-var-body);
}

small,
.caption {
  font-family: var(--font-bricolage);
  font-variation-settings: var(--font-var-small);
}

button {
  font-family: var(--font-bricolage);
  font-variation-settings: var(--font-var-display);
}

@keyframes drift {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* État normal */
#page-view {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

/* État pendant le chargement (quand la classe est présente) */
body.page-transition #page-view {
  opacity: 0;
}
